﻿@using ADIRoadShow.Models
@model ADIRoadShow.ViewModels.Survey.SurveyView
<div class="big-title">
    <div class="container container-full">
        <div class="row">
            <div class="col-md-6 text-uppercase">
                <h1>活動問卷調查</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <h1 class="formtittle">活動問卷調查</h1>
        <p class="formp">
            感謝您今天撥冗參加 「沉浸智慧生活 智進未來 2021 ADI 應用科技展」<br>
            在資訊傳輸無縫接軌，大數據精準判讀下，除建構安全、便捷的智慧城市(Smart City)外，<br>智慧製造(Smart Manufacturing)亦大幅提升產業競爭力，宣告智慧生活(Smart Life)全面啟動。<br>而為使下一次活動更臻完美，在此還請協助提供您寶貴的建議，謝謝!
        </p>
        <div class="col-sm-12 col-lg-offset-2 col-lg-8 col-md-12">
            @using (Html.BeginForm("Index", "Survey", FormMethod.Post, new { enctype = "multipart/form-data", @class = "contact-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(p => p.DealerId)
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Name, new { @placeholder = "姓名*", @required = true, @maxlength = "40" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Phone, new { @placeholder = "行動電話*", @required = true, @pattern = "[0-9]{8}", @maxlength = "10" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Company, new { @placeholder = "公司行號*", @required = true, @maxlength = "50" })
                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Email, new { @placeholder = "公司電子郵件 *", @required = true, @maxlength = "60" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="radiobox">
                            <span class="sex">Q1.	請問您對雙主題展區的展示主題有那些感興趣?? (必填，可複選)*</span>
                            <p class="smart">| 智慧城市(Smart City)</p>
                            <div class="row" style="border-bottom: 1px solid;margin-bottom: 13px;">
                                <div class="col-md-6">
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.AEC).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.AEC)</label>
                                    </div>
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.ToF3D).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.ToF3D)</label>
                                    </div>
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.IOT).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.IOT)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.HDMI).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@Html.Raw(ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.HDMI))</label>
                                    </div>
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.EagleEye).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@Html.Raw(ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.EagleEye))</label>
                                    </div>
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.MAX78000).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@Html.Raw(ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.MAX78000))</label>
                                    </div>
                                </div>
                            </div>
                            <p class="smart">| 智慧製造(Smart Manufacturing)</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.DAQCBM).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@Html.Raw(ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.DAQCBM))</label>
                                    </div>
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.AICBM).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@Html.Raw(ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.AICBM))</label>
                                    </div>
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.Voyager).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@Html.Raw(ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.Voyager))</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.Water).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.Water)</label>
                                    </div>
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.Internet5G).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@Html.Raw(ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.Internet5G))</label>
                                    </div>
                                    <div class="radioblock">
                                        <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.Sensor).Replace("<br>","")" />
                                        <label class="form-check-label" for="flexRadioDefault1">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InterestType.Sensor)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="radiobox">
                            <span class="sex">Q2.	藉由直播及影片播送的展示與講解，您是否更瞭解ADI應用解決方案？ (必填)*</span>
                            <div class="col-md-6">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.IsKnowing, true, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="IsKnowing">是</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.IsKnowing, false, new { @class = "form-check-input", @checked = "true" })
                                    <label class="form-check-label" for="IsKnowing">否</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="radiobox">
                            <span class="sex">Q3.	請問您現在從事何種類型的專案項目? (必填)*</span>
                            <div class="col-md-4">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Project, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.System), new { @class = "form-check-input projectcategory", @checked = "true" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.System)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.System)</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Project, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.HardWare), new { @class = "form-check-input projectcategory" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.HardWare)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.HardWare)</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Project, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.Marketing), new { @class = "form-check-input projectcategory" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.Marketing)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.Marketing)</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Project, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.Educate), new { @class = "form-check-input projectcategory" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.Educate)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.Educate)</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Project, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.Others), new { @class = "form-check-input projectcategory other" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.Others)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(ProjectType.Others)</label>
                                    @Html.TextBoxFor(model => model.ProjectTxt, new { @class = "othertext", @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.ProjectTxt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="radiobox">
                            <span class="sex">Q4.	請問看過今天的展示後，您希望會後獲得什麼樣的訊息或服務? (必填)*</span>
                            <div class="col-md-3">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Information, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Contact), new { @class = "form-check-input informationType", @checked = "true" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Contact)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Contact)</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Information, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Sample), new { @class = "form-check-input informationType" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Sample)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Sample)</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Information, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Product), new { @class = "form-check-input informationType" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Product)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Product)</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Information, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Others), new { @class = "form-check-input informationType other" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Others)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(InformationType.Others)</label>
                                    @Html.TextBoxFor(model => model.InformationTxt, new { @class = "othertext", @maxlength = "20" })
                                    @Html.ValidationMessageFor(model => model.InformationTxt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row signblock">
                    <div class="col-md-12">
                        <p>感謝您提供的寶貴意見，我們將作為日後改進的重要依據．另外，為答謝您的支持，活動總結時，也將抽出幸運貴賓。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> <a class="btn-submit" onclick="Send()">送出</a><button style="display:none" type="submit"></button> </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script>
        function Send() {
            $("button[type='submit']").click()
        }

        $('#contact-form').validate({
            rules: {
                Name: "required",
                Email: "required",
                Phone: "required",
                Company: "required",
            },
            submitHandler: function (form) {
                $('input:submit').attr('disabled', 'disabled');
                form.submit();
            }
        });
        $(window).on('load', function () {
            $("form").each(function () { $.data($(this)[0], 'validator', false); });
            $.validator.unobtrusive.parse("form");
        });
        $(".form-check-input.informationType").click(function () {
            var classstr = $(this).attr("class");
            if (classstr == "form-check-input informationType other") {
                $(".informationType.othertext").show();
            } else {
                $(".informationType.othertext").hide();
            }
        });

        $(".form-check-input.projectcategory").click(function () {
            var classstr = $(this).attr("class");
            if (classstr == "form-check-input projectcategory other") {
                $(".projectcategory.othertext").show();
            } else {
                $(".projectcategory.othertext").hide();
            }
        });
        $("button[type='submit']").click(function () {
            if ($("input[name='groups']:checked").length == 0) {
                // do something
                Swal.fire({
                    position: 'top-center',
                    icon: 'error',
                    title: "請選擇感興趣的主題至少一項",
                    showConfirmButton: false,
                    timer: 2000
                })
                return false
            }
            return true

        });
    </script>
}