﻿@model ADIRoadShow.ViewModels.Login.LoginView
<!-- ****************** PAGE HEADER ******************* -->
<div class="big-title">
    <div class="container container-full">
        <div class="row">
            <div class="col-md-6 text-uppercase">
                <h1>登入</h1>
            </div>
        </div>
    </div>
</div>
<!-- // PAGE HEADER -->
<!-- ****************** PAGE CONTENT ******************* -->
<div class="page-content">
    <div class="container">
        <h1 class="formtittle">沉浸智慧生活 智進未來  2021 ADI 應用科技展</h1>
        <p class="formp">帳號為電子郵件，密碼為行動電話 </p>
        <div class="col-sm-12 col-lg-offset-2 col-lg-8 col-md-12">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { enctype = "multipart/form-data", @class = "contact-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Account, new { @placeholder = "帳號", @required = true })
                        @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Password, new { @placeholder = "密碼", @required = true ,type="password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 signbtn">
                        <button class="btn-flat" type="submit" style="width:177px;margin: 25px 10px;display:inline;font-size:17px">
                            登入
                        </button>
                        <a href="@Url.Action("Index","SignUp")">活動報名</a>
                    </div>
                </div>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script>
        $(window).on('load', function () {
            $("form").each(function () { $.data($(this)[0], 'validator', false); });
            $.validator.unobtrusive.parse("form");
        });

    </script>
}