﻿@{
    ViewBag.Title = "首頁";
    var now = DateTime.Now;
    var exhibitionTypeDate1 = new DateTime(2021, 12, 01, 09, 50, 0);
    var exhibitionTypeDate2 = new DateTime(2021, 12, 01, 13, 50, 0);
    var exhibitionTypeDate3 = new DateTime(2021, 12, 02, 09, 40, 0);
    var exhibitionTypeDate4 = new DateTime(2021, 12, 02, 13, 30, 0);
    var exhibitionTypeDate5 = new DateTime(2021, 12, 03, 09, 40, 0);
    var exhibitionTypeDate6 = new DateTime(2021, 12, 03, 13, 30, 0);
    var vrDate = new DateTime(2021, 12, 04, 08, 00, 0);
}
<a href="@Url.Action("Index","SignUp")"> <img src="~/Content/analog/images/slider/home-onepage.jpg" class="img-responsive Mnone" style="width: 100%;"></a>
<img src="~/Content/analog/images/slider/home-onepageM.jpg" class="img-responsive Pnone Mblock" style="width: 100%;">
<div class="about-team-header about-team-header2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 style="text-align: left;">
                    Immersive Technologies in Smart Life<br>
                    ADI Innovation Day 2021
                </h1>
                <h1 class="text-uppercase aboutHD">沉浸智慧生活 智進未來  2021 ADI 應用科技展</h1>
                <p style="    font-size: 25px;">
                    智慧科技”疫”軍突起，AI、5G、雲端及物聯網各式創新應用紛起， Analog Devices, Inc. (ADI)今年再次展現強大的技術能量，舉辦「沉浸智慧生活 智進未來 — 2021 ADI 應用科技展 」。<br>
                    在資訊傳輸無縫接軌，大數據精準判讀下，除建構安全、便捷的智慧城市(Smart City)外，智慧製造(Smart Manufacturing)亦大幅提升產業競爭力，宣告智慧生活「Smart Life」全面啟動。<br>
                    ADI深信科技始終來自於人性，今年更有別以往從人文、環境關懷切入，一方面提供完善的基礎建議解決方案，另一方面研擬有效的商轉模式，建構智慧城市、智慧製造雙展區，ADI冀盼攜手業界，洞燭機先、掌握趨勢，全面拓展智慧生活新商機，成功搶佔市場一席之地。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="dual-content">
    <div class="dual-img" style="background: url(/Content/analog/images/service-list-01.jpg) no-repeat center;"></div>
    <div class="col-md-6"> </div>
    <div class="col-md-6 dual-info">
        <h4 class="text-uppercase">智慧城市 </h4>
        <ul>
            <div class="row">
                <div class="col-md-6">
            <li>回音消除演算法應用方案 </li>
            <li>
                新一代高畫質多媒體介面解決方案
            </li>
            <li>3D ToF 智慧視覺應用方案</li>
    </div>
    <div class="col-md-6">
        <li>人數統計系統在智慧城市應用方案 </li>
        <li>IOT安全性解决方案 </li>
        <li>啟用物聯網人工智慧，帶有神經網路加速器的低功耗微控制器 MAX78000 </li>
    </div>
</div>
        </ul>
    </div>
</div>
<div class="dual-content dual-content-blue dual-content-right">
    <div class="col-md-6 dual-info">
        <h4 class="text-uppercase">智慧製造 </h4>
        <ul>
            <div class="row">
                <div class="col-md-6">
            <li>資料擷取與震動分析應用方案 </li>
            <li>設備儀器故障AI 預防診斷系統 </li>
            <li>水質監控系統 </li>
    </div>
    <div class="col-md-6">
        <li>5G通訊網路 - 無線射頻平台應用方案 </li>
        <li>第3代無線狀態監控模組應用方案 </li>
        <li>新一代 3D深度感測器應用方案 </li>
    </div>
</div>
        </ul>
    </div>
<div class="col-md-6" style="min-height:0px;"> </div>
<div class="dual-img" style="background: url(/Content/analog/images/service-list-02.jpg) no-repeat center;"></div>
</div>

<!-- ****************** SHOP CART ******************* -->
<div class="about-team-header about-team-header2 header-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <span>PROCESS</span>
                    <h1 class="text-uppercase">線上活動</h1>
                    <article>
                        <div class="blog-entry-content">
                            <div class="shop-content">
                                <form>
                                    <table class="shop_table cart">
                                        <thead>
                                            <tr>
                                                <th class="product-name" style="width: 5%;">日期</th>
                                                <th class="product-name">時間</th>
                                                <th class="product-price" style="width: 25%;">議題</th>
                                                <th class="product-quantity">主講人</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="cart_item">
                                                <td style="border-right: 1px solid rgba(0, 0, 0, 0.1);"> 12/1 </td>
                                                <td>10:00-11:00 </td>
                                                <td>

                                                    <strong>專家論壇 - 線上直播</strong>
                                                    @if (exhibitionTypeDate1 <= now)
                                                    {
                                                        <a href="@Url.Action("Video", "ShowRoom", new { exhibitionType = 1 })" class="videoicon"><img src="~/Content/analog/images/video.png"></a>
                                                    }
                                                    @*else
                                                    {
                                                        <a href="@Url.Action("VR", "ShowRoom")" class="videoicon" id="item1"><img src="~/Content/analog/images/video.png"></a>
                                                    }*@ 
                                                    <br>
                                                    震動分析與資料擷取量測平台的設計經驗分享<br>
                                                </td>
                                                <td>
                                                    Charles Lee<br>
                                                    (ADI亞太區技術總監)
                                                </td>
                                            </tr>
                                            <tr class="cart_item">
                                                <td style="border-right: 1px solid rgba(0, 0, 0, 0.1);border-top:0px;"> </td>
                                                <td>14:00-15:00 </td>
                                                <td>
                                                    <strong>專家論壇- 線上直播</strong>
                                                    @if (exhibitionTypeDate2 <= now)
                                                    {
                                                        <a href="@Url.Action("Video", "ShowRoom", new { exhibitionType = 2 })" class="videoicon"><img src="~/Content/analog/images/video.png"></a>
                                                    }
                                                    @*else
                                                    {
                                                        <a href="@Url.Action("VR", "ShowRoom")" class="videoicon" id="item2"><img src="~/Content/analog/images/video.png"></a>
                                                    }*@
                                                    <br>
                                                    水質監控系統
                                                </td>
                                                <td>
                                                    Jim Yang<br>
                                                    (銘祥科技, 總經理)
                                                </td>
                                            </tr>
                                            <tr class="cart_item" style="background-color: #F5F5F5;">
                                                <td style="border-right: 1px solid rgba(0, 0, 0, 0.1);"> 12/2 </td>
                                                <td>10:00-11:00 </td>
                                                <td>
                                                    <strong>線上研討會</strong>
                                                    @if (exhibitionTypeDate3 <= now)
                                                    {
                                                        <a href="@Url.Action("Video", "ShowRoom", new { exhibitionType = 3 })" class="videoicon"><img src="~/Content/analog/images/video.png"></a>
                                                    }
                                                    @*else
                                                    {
                                                        <a href="@Url.Action("VR", "ShowRoom")" class="videoicon" id="item3"><img src="~/Content/analog/images/video.png"></a>
                                                    }*@
                                                    <br>第3代無線狀態監控模組應用方案(Voyager)
                                                </td>
                                                <td> Robin Cheng<br>(ADI FAE)</td>
                                            </tr>
                                            <tr class="cart_item" style="background-color: #F5F5F5;">
                                                <td style="border-right: 1px solid rgba(0, 0, 0, 0.1);border-top:0px;"> </td>
                                                <td>14:00-15:00 </td>
                                                <td>
                                                    <strong>線上研討會</strong>
                                                    @if (exhibitionTypeDate4 <= now)
                                                    {
                                                        <a href="@Url.Action("Video", "ShowRoom", new { exhibitionType = 4 })" class="videoicon"><img src="~/Content/analog/images/video.png"></a>
                                                    }
                                                    @*else
                                                    {
                                                        <a href="@Url.Action("VR", "ShowRoom")" class="videoicon" id="item4"><img src="~/Content/analog/images/video.png"></a>
                                                    }*@
                                                    <br>
                                                    回音消除演算法應用方案
                                                </td>
                                                <td> JUSTIN WU<br>(ADI FAE )</td>
                                            </tr>
                                            <tr class="cart_item">
                                                <td style="border-right: 1px solid rgba(0, 0, 0, 0.1);">12/3</td>
                                                <td>10:00-11:00 </td>
                                                <td>
                                                    <strong>專家論壇- 線上直播</strong>
                                                    @if (exhibitionTypeDate5 <= now)
                                                    {
                                                        <a href="@Url.Action("Video", "ShowRoom", new { exhibitionType = 5 })" class="videoicon"><img src="~/Content/analog/images/video.png"></a>
                                                    }
                                                    @*else
                                                    {
                                                        <a href="@Url.Action("VR", "ShowRoom")" class="videoicon" id="item5"><img src="~/Content/analog/images/video.png"></a>
                                                    }*@
                                                    <br>
                                                    新一代高畫質多媒體介面 (HDMI)產品應用設計經驗分享
                                                </td>
                                                <td> Lie Duo<br>(ADI影音產品線, 市場部經理) </td>
                                            </tr>
                                            <tr class="cart_item">
                                                <td style="border-right: 1px solid rgba(0, 0, 0, 0.1);border-top:0px;"></td>
                                                <td>14:00-15:00 </td>
                                                <td>
                                                    <strong>專家論壇- 線上直播</strong>
                                                    @if (exhibitionTypeDate6 <= now)
                                                    {
                                                        <a href="@Url.Action("Video", "ShowRoom", new { exhibitionType = 6 })" class="videoicon"><img src="~/Content/analog/images/video.png"></a>
                                                    }
                                                    @*else
                                                    {
                                                        <a href="@Url.Action("VR", "ShowRoom")" class="videoicon" id="item6"><img src="~/Content/analog/images/video.png"></a>
                                                    }*@
                                                    <br>
                                                    新一代 3D深度感測器產品應用設計經驗分享
                                                </td>
                                                <td> Ajay Liu<br> (ADI 市場部經理)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </article>
                    <div class="row">

                        <div class="col-md-2">
                            <img src="~/Content/analog/images/gift.png" class="img-responsive">
                        </div>
                        <div class="col-md-10">
                            <p>凡與會者參加「ADI智進未來 」，只要參與線上直播或觀看影片場次愈多，得獎機率就愈高！豐富獎項包括：Bose 700 無線消噪耳機（共20個名額，價值達$12,000）；每場研討會更加抽20名價值$2,000獎項，愈踴躍愈有機會！（主辦單位將於活動後進行抽獎通知，敬請密切關注）</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--// PAGE CONTENT -->
@*<div class="cta-full">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="highlight">活動名額有限，敬請盡速報名，以免向隅。</h3>
                    <a class="bttn skin-fill-blue" href="@Url.Action("Index","SignUp")" style="font-size: 25px;"><span>立即報名</span></a>
                </div>
            </div>
        </div>
    </div>*@
<!--// PAGE CONTENT -->

@section scripts{

    @*<script>
        $.removeCookie('itemindex');
        $('#item1').on('click', function () {
            $.cookie('itemindex', '?index=10', { expires: 1 });
        });
        $('#item2').on('click', function () {
            $.cookie('itemindex', '?index=13', { expires: 1 });
        });
        $('#item3').on('click', function () {
            $.cookie('itemindex', '?index=15', { expires: 1 });
        });
        $('#item4').on('click', function () {
            $.cookie('itemindex', '?index=4', { expires: 1 });
        });
        $('#item5').on('click', function () {
            $.cookie('itemindex', '?index=6', { expires: 1 });
        });
        $('#item6').on('click', function () {
            $.cookie('itemindex', '?index=12', { expires: 1 });
        });
    </script>*@
}