﻿
@{
    ViewBag.Title = "VideoTest";
}

<div class="site-content single-post">
    <div class="content">
        <article class="post type-post blog-entry">
            <div class="blog-entry-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-video">
                            <div class="fluid-width-video-wrapper">
                                twitch
                                <iframe src="https://player.twitch.tv/?channel=cmind_dg&parent=adievent2021.com"
                                        height="480"
                                        width="320"
                                        frameborder="1"
                                        scrolling="no"
                                        allowfullscreen="no">
                                </iframe>
                            </div>
                            @*<div class="goback"> <a href="@Url.Action("Index","Home")"><i class="fa fa-arrow-left"></i>回到首頁</a> <a href="index.html"><i class="fa fa-download"></i>點選下載</a> </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

<div class="site-content single-post">
    <div class="content">
        <article class="post type-post blog-entry">
            <div class="blog-entry-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-video">
                            <div class="fluid-width-video-wrapper">
                                FB
                                <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FCmindDg%2Fvideos%2F561197548302307%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>                            @*<div class="goback"> <a href="@Url.Action("Index","Home")"><i class="fa fa-arrow-left"></i>回到首頁</a> <a href="index.html"><i class="fa fa-download"></i>點選下載</a> </div>*@
                            </div>
                        </div>
                    </div>
                </div>
        </article>
    </div>
</div>
