﻿@model ADIRoadShow.ViewModels.Message.MessageView
@{
    var now = DateTime.Now;
    var exhibitionTypeDate1 = new DateTime(2021, 12, 01, 09, 50, 0);
    var exhibitionTypeDate2 = new DateTime(2021, 12, 01, 13, 50, 0);
    var exhibitionTypeDate3 = new DateTime(2021, 12, 02, 09, 50, 0);
    var exhibitionTypeDate4 = new DateTime(2021, 12, 02, 13, 50, 0);
    var exhibitionTypeDate5 = new DateTime(2021, 12, 03, 09, 50, 0);
    var exhibitionTypeDate6 = new DateTime(2021, 12, 03, 13, 30, 0);
}
@section head{
    <script src="~/Scripts/front/video_reply.js?v=10"></script>
}
<div class="big-title">
    <div class="container container-full">
        <div class="row">
            <div class="col-md-12 text-uppercase">
                <h1> 線上直播 - 沉浸智慧生活 智進未來  2021 ADI 應用科技展</h1>
            </div>
        </div>
    </div>
</div>

<div class="site-content single-post">
    <div class="content">
        <article class="post type-post blog-entry">
            <div class="blog-entry-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-video">
                            <div class="fluid-width-video-wrapper">
                                <iframe src="" width="1280" height="720" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 commentsblock">
                        <div id="comments" class="comments-area" style="margin-top: 0px;">
                            <h3 id="reply-title" class="comment-reply-title" style="margin-top: 0px;">留言區</h3>
                            <input type="button" onclick="doStuff()" class="submit bttn medium" value="刷新" style="margin: 7px 10px 10px 0px;">

                            <div>
                                <ol class="comment-list" style="display: block;height: 354px;overflow: auto;">
                                    <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-3">
                                        載入中，請稍後
                                    </li>
                                </ol>
                            </div>
                            <div id="respond" class="comment-respond">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="comment-form-comment">
                                            <input id="MessageId" name="MessageId" type="hidden" value="0">
                                            <textarea class="comment" cols="20" id="Content" name="Content" placeholder="您的留言" required="true" rows="2"></textarea>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="form-submit" style="padding: 0;">
                                            <input name="submit" type="button" id="submit" class="submit bttn medium" value="確定送出" style="margin: 7px 10px 10px 0px;">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>





@section scripts{
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            var exhibitionType = $.urlParam("exhibitionType")
            if (exhibitionType === '1') {
                $('iframe').attr('src', "https://www.youtube.com/embed/ecnP3sMtLn0")
            }

            if (exhibitionType === '2') {
                $('iframe').attr('src', "https://www.youtube.com/embed/AlBSiFZ0sOE")
            }

            if (exhibitionType === '3') {
                $('iframe').attr('src', "https://www.youtube.com/embed/Ymc3dvhSqRE")
            }

            if (exhibitionType === '4') {
                $('iframe').attr('src', "https://www.youtube.com/embed/1-NXb5SHOo8")
            }

            if (exhibitionType === '5') {
                $('iframe').attr('src', "https://www.youtube.com/embed/-nYvYcfqmfE")
            }

            if (exhibitionType === '6') {
                $('iframe').attr('src', "https://www.youtube.com/embed/j0aaERHk-do")
            }
            doStuff(exhibitionType);
        });
        $('#submit').on('click', function () {
            var message = $('textarea[name=Content]').val();
            if (!message) {
                Swal.fire({
                    position: 'top-center',
                    icon: "error",
                    title: "請填寫留言內容",
                    showConfirmButton: false,
                    timer: 2000
                })
                return false;
            } else {
                $.ajax({
                    url: '/ShowRoom/VideoReply',// 跳轉到 action
                    data: {
                        message: $("#Content").val(),
                        messageId: $("#MessageId").val(),
                        exhibitionCategory: $.urlParam("exhibitionType")
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        Swal.fire({
                            position: 'top-center',
                            icon: "success",
                            title: "留言成功",
                            showConfirmButton: false,
                            timer: 2000
                        })

                        $('#MessageId').val('0');
                        $('#Content').val('');
                        doStuff()
                    },
                    error: function () {
                        console.log("異常！");
                    }
                });
            }
        });
        function Exit() {
            var exhibitionType = $.urlParam("exhibitionType")
            $.ajax({
                type: 'GET',
                url: '/ShowRoom/Quit?showRoomType=2&exhibitionType=' + exhibitionType,
            }).done(function (result) {
                console.log(result)
            }).fail(function () {
                console.log("錯誤");
            });
        }
        function doStuff() {
            const apiUrl = '/ShowRoom/Refresh?showRoomType=2&exhibitionType=' + $.urlParam("exhibitionType");
            //console.log(value)
            $.ajax({
                type: 'GET',
                url: apiUrl,
            }).done(function (result) {
                if (result) {
                    console.log($.urlParam("exhibitionType"))
                    $(".comment-list").html(result);
                } else {
                    $(".comment-list").html('<li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-3">尚未有任何留言</li>');
                }
            }).fail(function () {
                console.log("錯誤");
            });
        }
    </script>

}