﻿@model ADIRoadShow.ViewModels.Message.MessageView
@section head{
    <script src="~/Scripts/front/vr_reply.js?v=2"></script>
}
<div class="post-video">
    <div class="fluid-width-video-wrapper">
        <iframe src="https://livetour.istaging.com/b62ffd14-3e13-435c-a1c3-4eeec5213f1d"></iframe>
    </div>
</div>
<div id="content" class="site-content single-post">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <article class="post type-post blog-entry">
                        <div class="blog-entry-content">
                            <hr style="clear: both;">
                            <div id="comments" class="comments-area container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3 id="reply-title" class="comment-reply-title">留言區 <small><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Cancel reply</a></small></h3>
                                        <input type="button" onclick="doStuff()" class="submit bttn medium" value="刷新" style="margin: 7px 10px 10px 0px;">

                                        <ol class="comment-list">
                                            <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-3">
                                                載入中，請稍等
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="col-md-4">
                                        <div id="respond" class="comment-respond">
                                            <p class="comment-form-comment">
                                                <input id="MessageId" name="MessageId" type="hidden" value="0">
                                                <textarea class="comment" cols="20" id="Content" name="Content" placeholder="您的留言" required="true" rows="2"></textarea>
                                            </p>
                                                <p class="form-submit">
                                                    <input name="submit" type="button" id="submit" class="submit bttn medium" value="確定送出">
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ****************** PAGE CONTENT ******************* -->

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var indexitem = $.cookie('itemindex');

        $(function () {
            if (indexitem) {
                $("iframe").attr("src", "https://livetour.istaging.com/b62ffd14-3e13-435c-a1c3-4eeec5213f1d" + indexitem)
            } else {
                $("iframe").attr("src", "https://livetour.istaging.com/b62ffd14-3e13-435c-a1c3-4eeec5213f1d")
            }
            doStuff();
        });
        $('#submit').on('click', function () {
            var message = $('textarea[name=Content]').val();
            if (!message) {
                Swal.fire({
                    position: 'top-center',
                    icon: "error",
                    title: "請填寫留言內容",
                    showConfirmButton: false,
                    timer: 2000
                })
                return false;
            }else {
            $.ajax({
                url: '/ShowRoom/VRReply',// 跳轉到 action
                data: {
                    message: $("#Content").val(),
                    messageId: $("#MessageId").val()
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    Swal.fire({
                        position: 'top-center',
                        icon: "success",
                        title: "留言成功",
                        showConfirmButton: false,
                        timer: 2000
                    })
                    $('#MessageId').val('0');
                    
                    $('#Content').val('');
                    doStuff();
                },
                error: function () {
                    console.log("異常！");
                }
            });
        }

        });
        function Exit() {
            $.ajax({
                type: 'GET',
                url: '/ShowRoom/Quit?showRoomType=1&exhibitionType=' + exhibitionType,
            }).done(function (result) {

            }).fail(function () {
                console.log("錯誤");
            });
        }
    </script>
}
