﻿@*範例*@
@*@{
        ViewBag.Title = "首頁輪播圖片管理";
        var title = Model.ID == 0 ? "新增首頁輪播圖片" : "編輯首頁輪播圖片";
    }
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>首頁輪播圖片管理</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header with-border">
                        <h3 class="card-title">@title</h3>
                    </div>

                    @using (Html.BeginForm("Edit", "BannerAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title)
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Intro)
                                @Html.TextBoxFor(model => model.Intro, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Intro, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TextColor)
                                @Html.DropDownListFor(model => model.TextColor, Model.TextColorOptions, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Type)
                                @Html.DropDownListFor(model => model.Type, Model.TypeOptions, new { @class = "form-control" })
                            </div>
                            <div id="BannerPic">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Image)
                                    <br />
                                    <input type="file" id="photo_file2" name="file" accept="image/x-png,image/jpeg">
                                    <p class="help-block">請上傳不超過3MB的圖片，建議尺寸(1920 x 800 px / jpg,png)</p>
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                    @if (!string.IsNullOrEmpty(Model.Image))
                                    {
                                        <img src="~/FileUploads/BannerPhoto/@Model.Image" class="img-thumbnail" style="width:400px" />
                                        <br />
                                        //刪除電腦版圖片type =1
                                        @Html.ActionLink("刪除", "DeleteImage", new { id = Model.ID, type = 1 }, new { @class = "btn btn-danger js-delete-confirm" })
                                        @Html.HiddenFor(model => model.Image)
                                    }
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.MainPic)
                    <span class="pictext text-red"></span>
                    @Html.EditorFor(m => m.MainPicFile, "_UploadImage", new { @PhotoFolder = "EventPhoto" })
                    @if (!string.IsNullOrEmpty(Model.MainPic))
                    {
                        <img src="~/FileUploads/EventPhoto/@Model.MainPic?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" class="img-thumbnail" style="width:200px" />
                        @Html.HiddenFor(model => model.MainPic)
                        <br />
                        @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = 2 }, new { @class = "btn btn-danger js-delete-confirm" })
                    }
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Link)
                                    <p class="help-block">
                                        (內部連結，貼上內部網站連結，刪除https://www.sks.com.tw，範例<span style="text-decoration:line-through">https://www.sks.com.tw</span>/Bussiness/POS)<br />
                                        (貼上http://網址另開網頁)
                                    </p>
                                    @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-check">
                                    @Html.CheckBoxFor(model => model.isLogo, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="check-card-status">
                                        @Html.DisplayNameFor(model => model.isLogo)   (標題若不需要新光智慧家logo，此欄不用勾選)
                                    </label>
                                </div>
                                <div class="form-check">
                                    @Html.CheckBoxFor(model => model.isOffset, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="check-card-status">
                                        @Html.DisplayNameFor(model => model.isOffset)   (電腦版文字若不需要往下偏移，此欄不用勾選)
                                    </label>
                                </div>
                                <div class="form-check">
                                    @Html.CheckBoxFor(model => model.isPhoneOffset, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="check-card-status">
                                        @Html.DisplayNameFor(model => model.isPhoneOffset)  (手機版文字若不需要往下偏移，此欄不用勾選)
                                    </label>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Position)
                                    @Html.DropDownListFor(model => model.Position, Model.PositionOptions, new { @class = "form-control" })
                                </div>
                            </div>
                            <div id="BannerVideo">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VideoLink)
                                    @Html.TextBoxFor(model => model.VideoLink, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.VideoLink, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Sort)
                                @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-check">
                                @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                                <label class="form-check-label" for="check-card-status">
                                    @Html.DisplayNameFor(model => model.Status)
                                </label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">儲存</button>
                            @if (Model.ID != 0)
                            {
                                @Html.ActionLink("刪除", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                            }
                            @Html.ActionLink("取消/回列表", "Index", "BannerAdmin", null, new { @class = "btn btn-default" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    @section scripts{
        <script src="~/Scripts/Admin/fileUpload.js"></script>
    }*@

