﻿
@{
    ViewBag.Title = "Disclaimer";
}
<!-- ****************** PAGE HEADER ******************* -->
<div class="big-title">
    <div class="container container-full">
        <div class="row">
            <div class="col-md-6 text-uppercase">
                <h1>個資取得免責條款</h1>
            </div>
        </div>
    </div>
</div>
<!-- // PAGE HEADER -->
<!-- ****************** PAGE CONTENT ******************* -->
<div class="page-content">
    <div class="container">
        <h4 class="custom_head text-uppercase">台灣亞德諾半導體股份有限公司為落實個人資料之保護，依照個人資料保護法第8條規定進行蒐集前之告知： </h4>
        <div class="space-bottom-20"></div>
        <p>
            一、個人資料蒐集之目的及用途：<br>
            目的在於進行活動辦理之相關行政作業，主辦單位並將利用您所提供之Email及聯絡電話通知您活動之相關訊息。<br>
            二、蒐集之個人資料類別：<br>
            1. 中文姓名<br>
            2. 聯絡電話<br>
            3. 電子郵件信箱<br>
            4. 服務單位<br>
            5. 主辦單位因活動需求所需收集之資料，由主辦單位另訂之。<br>
            三、個人資料利用之期間、地區、對象：<br>
            1. 期間：您同意參加活動之日起，至活動結束後一年為止。期間由主辦單位保存您的個人資料，以作為本人、主辦單位查詢、確認證明之用。 <br>
            2. 地區：您的個人資料將用於活動主辦單位提供服務之地區 <br>
            3. 對象：透過網路報名系統之使用者<br>
            四、依據個資法第3條規定，報名者對個人資料於保存期限內得行使以下權利：<br>
            1. 查詢或請求閱覽<br>
            2. 請求製給複製本<br>
            3. 請求補充或更正<br>
            4. 請求停止蒐集、處理或利用<br>
            5. 請求刪除<br>
            五、提醒：<br>
            您可自由選擇提供個人資料，若其提供之資料不足或有誤時，將可能導致無法成功報名此次活動。<br>
            <br>
            請問您是否願以電子文件方式同意主辦單位蒐集、處理及利用您的個人資料：<br>
            (請注意，此處點選同意具有個人資料保護法所定之書面同意效果。)
            同意，代表您已閱畢本次活動報名之個資告知事項，並願以電子文件方式同意主辦單位蒐集、處理及利用您的個人資料。<br>
            不同意，代表您不同意主辦單位於本次活動蒐集、處理及利用您的個人資料，請關閉此頁面，此次報名將不會成功。<br>
            若有任何疑問您可電洽主辦單位的服務專線或Email。
        </p>
    </div>
</div>
<!--// PAGE CONTENT --> 