﻿@using ADIRoadShow.Models;
@model ADIRoadShow.ViewModels.Apply.ApplyView
<!-- ****************** PAGE HEADER ******************* -->
<div class="big-title">
    <div class="container container-full">
        <div class="row">
            <div class="col-md-6 text-uppercase">
                <h1>活動報名</h1>
            </div>
        </div>
    </div>
</div>
<!-- // PAGE HEADER -->
<!-- ****************** PAGE CONTENT ******************* -->
<div class="page-content">
    <div class="container">
        <h1 class="formtittle">沉浸智慧生活 智進未來  2021 ADI 應用科技展</h1>
        <p class="formp">活動報名後會產生虛擬帳號，可於線上展覽會活動開始時啟用，帳號為電子郵件，密碼為行動電話 </p>
        <div class="col-sm-12 col-lg-offset-2 col-lg-8 col-md-12">
            @using (Html.BeginForm("Index", "SignUp", FormMethod.Post, new { enctype = "multipart/form-data", @class = "contact-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <span class="sex">報名資訊*</span>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Email, new { @placeholder = "公司電子郵件 *", @required = true, @maxlength = "60" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Phone, new { @placeholder = "行動電話*", @required = true, @pattern = "[0-9]{8}", @maxlength = "10" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.LastName, new { @placeholder = "姓*", @required = true, @maxlength = "40" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "名*", @required = true, @maxlength = "40" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.NickName, new { @placeholder = "暱稱*", @required = true, @maxlength = "40" })
                        @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Company, new { @placeholder = "公司名稱*", @required = true, @maxlength = "50" })
                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Department, new { @placeholder = "部門", @maxlength = "50" })
                        @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Position, new { @placeholder = "職稱", @maxlength = "50" })
                        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="radiobox">
                            <span class="sex">產業別*</span>

                            <div class="row col-md-6">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AEG), new { @class = "form-check-input category", @checked = "true" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AEG)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AEG)</label>
                                </div>
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.ASD), new { @class = "form-check-input category" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.ASD)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.ASD)</label>
                                </div>
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AUT), new { @class = "form-check-input category" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AUT)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AUT)</label>
                                </div>
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.COM), new { @class = "form-check-input category" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.COM)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.COM)</label>
                                </div>

                            </div>
                            <div class="row col-md-6">
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.CON), new { @class = "form-check-input category" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.CON)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.CON)</label>
                                </div>
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.DHC), new { @class = "form-check-input category" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.DHC)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.DHC)</label>
                                </div>
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.INS), new { @class = "form-check-input category" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.INS)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.INS)</label>
                                </div>
                                <div class="radioblock">
                                    @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.Others), new { @class = "form-check-input category other" })
                                    <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.Others)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.Others)，請於下列補充說明</label>
                                </div>
                                @Html.TextBoxFor(model => model.CategoryTxt, new { @class = "othertext", @placeholder = "若上述選項無您的產業別，請補充說明於此", @maxlength = "20" })
                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="sex">工作性質*</span>
                        @Html.DropDownListFor(model => Model.JobCategory, Model.JobCategoryOptions)
                        @Html.ValidationMessageFor(model => model.JobCategory, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="radiobox">
                            <span class="sex">活動資訊來源*</span>
                            <div class="row col-md-6">
                                <div class="radioblock">
                                    <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Newsletter)" />
                                    <label class="form-check-label">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Newsletter)</label>
                                </div>
                                <div class="radioblock">
                                    <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.FB)" />
                                    <label class="form-check-label">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.FB)</label>
                                </div>
                                <div class="radioblock">
                                    <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Anstek)" />
                                    <label class="form-check-label">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Anstek)</label>
                                </div>
                                <div class="radioblock">
                                    <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Arrow)" />
                                    <label class="form-check-label">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Arrow)</label>
                                </div>
                            </div>
                            <div class="row col-md-6">
                                <div class="radioblock">
                                    <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Morrihan)" />
                                    <label class="form-check-label">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Morrihan)</label>
                                </div>
                                <div class="radioblock">
                                    <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Mouser)" />
                                    <label class="form-check-label">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Mouser)</label>
                                </div>
                                <div class="radioblock">
                                    <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Friend)" />
                                    <label class="form-check-label">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.Friend)</label>
                                </div>
                                <div class="radioblock">
                                    <input type="checkbox" name="groups" class="form-check-input" value="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.SocialMedia)" />
                                    <label class="form-check-label">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(EventInformationType.SocialMedia)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row signblock">
                    <div class="col-md-12">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="info11">
                        <label class="form-check-label" for="flexRadioDefault1"> 我已詳細閱讀，並同意接受<a href="@Url.Action("Disclaimer","SignUp")" class="sign" target="_blank">「個人資料使用同意書」</a>內容</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a onclick="Register()">立即報名</a>
                        <button type="submit" style="display:none"></button>

                    </div>
                </div>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script>
        var i = 0;
        function Register() {
            $("button[type='submit']").click()
            $('input:submit').attr('disabled', 'disabled');
        }
        $(window).on('load', function () {
            $("form").each(function () { $.data($(this)[0], 'validator', false); });
            $.validator.unobtrusive.parse("form");
        });
        $(".form-check-input.category").click(function () {
            var classstr = $(this).attr("class");
            if (classstr == "form-check-input category other") {
                $(".othertext").show();
            } else {
                $(".othertext").hide();
            }
        });
        $("button[type='submit']").click(function () {
            i++;

            if ($("input[name='groups']:checked").length == 0) {
                // do something
                Swal.fire({
                    position: 'top-center',
                    icon: 'error',
                    title: "請選擇活動資訊來源至少一項",
                    showConfirmButton: false,
                    timer: 2000
                })
                i = 0;
                return false
            }

            if (!$("#info11").prop("checked")) {
                Swal.fire({
                    position: 'top-center',
                    icon: 'error',
                    title: "請選取隱私政策",
                    showConfirmButton: false,
                    timer: 2000
                })
                i = 0;
                return false
            }
            if (i === 1) {
                return true
            }
            if (i >  1) {
                Swal.fire({
                    position: 'top-center',
                    icon: 'error',
                    title: "請勿重複送出",
                    showConfirmButton: false,
                    timer: 2000
                })
            }
        });
    </script>

}