﻿<!-- ****************** PAGE HEADER ******************* -->
<div class="big-title">
    <div class="container container-full">
        <div class="row">
            <div class="col-md-6 text-uppercase">
                <h1>活動報名</h1>
            </div>

        </div>
    </div>
</div>
<!-- // PAGE HEADER -->
<!-- ****************** PAGE CONTENT ******************* -->
<div class="page-content">
    <div class="container">
        <div class="col-sm-8 col-lg-offset-2 col-lg-8 col-md-12">
            <div class="text-block style4">
                <h4 class="text-uppercase">報名已完成</h4>
                <p>
                    恭喜您已成功報名，活動期間我們會寄發通知信給您，請留意信箱。
                    線上展覽會活動將於12/01(三)～12/31(五)展開，請於活動當天點選活動網址，並輸入您的帳號（Email）和密碼（手機號碼）即可登入，最新的科技資訊即將等著您！
                </p>
            </div>
        </div>
    </div>
</div>
<!--// PAGE CONTENT --> 