﻿@using ADIRoadShow.Models
@{
    var currentAdmin = ADIRoadShow.Utility.Cmind.AdminInfoHelper.GetAdminInfo();
    //bool admin = currentAdmin.isAdmin;
}


<!-- Sidebar -->
@*<div class="sidebar">
     Sidebar user panel (optional) 
    @if (currentAdmin != null)
    {
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image" style="margin-top:5px">
                <i class="far fa-user nav-icon white"></i>
            </div>
            <div class="info" style="margin-left:10px">
                <a class="d-block">@currentAdmin.Account</a>
            </div>
        </div>
    }
</div>*@


<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        @*<li class="nav-header">EXAMPLES</li>*@

        @*<li class="nav-item user-panel">

        </li>*@
        <li class="nav-item">
            <a href="@Url.Action("Index","ApplyAdmin")" class="nav-link">
                <i class="nav-icon fas fa-registered"></i>
                <p>
                    報名管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","MessageAdmin")" class="nav-link">
                <i class="nav-icon fas fa-comment"></i>
                <p>
                    留言管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","SurveyAdmin")" class="nav-link">
                <i class="nav-icon fas fa-poll-h"></i>
                <p>
                    問卷管理
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","ActiveLogAdmin")" class="nav-link">
                <i class="nav-icon fas fa-poll-h"></i>
                <p>
                    活動參與時間紀錄管理
                </p>
            </a>
        </li>
        <li class="nav-item" style="margin-top:20px;">
            <a href="/Admin/AuthAdmin/Logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    登出
                </p>
            </a>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->
<!-- /.sidebar -->