﻿@using ADIRoadShow.Models;
@model ADIRoadShow.Areas.Admin.ViewModels.Apply.ApplyView
@{
    ViewBag.Title = "活動表單管理";
    var title = Model.ID == 0 ? "新增活動表單" : "編輯活動表單";
    var now = DateTime.Now;
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>活動表單管理</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "ApplyAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DealerId)
                            @Html.DropDownListFor(model => Model.DealerId, Model.DealerCategoryOptions, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName)
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @disable = true })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName)
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @disable = true })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NickName)
                            @Html.TextBoxFor(model => model.NickName, new { @class = "form-control", @disable = true })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone)
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Company)
                            @Html.TextBoxFor(model => model.Company, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Department)
                            @Html.TextBoxFor(model => model.Department, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Position)
                            @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Category, new { @class = "form-check-labe" })
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AEG), new { @class = "form-check-input category" })
                                <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AEG)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AEG)</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.ASD), new { @class = "form-check-input category" })
                                <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.ASD)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.ASD)</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AUT), new { @class = "form-check-input category" })
                                <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AUT)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.AUT)</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.COM), new { @class = "form-check-input category" })
                                <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.COM)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.COM)</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.CON), new { @class = "form-check-input category" })
                                <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.CON)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.CON)</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.DHC), new { @class = "form-check-input category" })
                                <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.DHC)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.DHC)</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.INS), new { @class = "form-check-input category" })
                                <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.INS)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.INS)</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.Category, ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.Others), new { @class = "form-check-input category other" })
                                <label class="form-check-label" for="@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.Others)">@ADIRoadShow.Utility.Cmind.EnumHelper.GetDescription(CareerType.Others)，請於下列補充說明</label>
                                @Html.TextBoxFor(model => model.CategoryTxt, new { @class = "form-control othertext", @placeholder = "若上述選項無您的產業別，請補充說明於此", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.JobCategory)
                            @Html.DropDownListFor(model => Model.JobCategory, Model.JobCategoryOptions, new { @class = "form-control" })
                        </div>
                        @foreach (var item in Model.CheckOptions)
                        {

                            <div class="form-check">
                                <input type="checkbox" name="groups" class="form-check-input" value="@item.Name" @(Model.EventInformation.IndexOf(item.Name) > -1 ? "checked" : "") />
                                <label for="@item.Name" class="form-check-label">@item.Name</label>
                            </div>
                        }
                        @Html.ValidationMessageFor(model => model.groups, "", new { @class = "text-danger" })
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsLock, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-card-status">
                                @Html.DisplayNameFor(model => model.IsLock)
                            </label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script>
        $(window).on('load', function () {
            $("form").each(function () { $.data($(this)[0], 'validator', false); });
            $.validator.unobtrusive.parse("form");
        });
    </script>
}