﻿@using ADIRoadShow.Models
@{ 
    var member = ADIRoadShow.Utility.Cmind.MemberInfoHelper.GetMemberInfo();
    string url = Request.Url.Scheme + "://" + Request.Url.Authority;
    //var loginDate =new DateTime(2021, 12, 01, 00, 00, 0);
    var exhibitionTypeDate1 = new DateTime(2021, 12, 01, 09, 50, 0);
    var exhibitionTypeDate2 = new DateTime(2021, 12, 01, 13, 50, 0);
    var exhibitionTypeDate3 = new DateTime(2021, 12, 02, 09, 40, 0);
    var exhibitionTypeDate4 = new DateTime(2021, 12, 02, 13, 30, 0);
    var exhibitionTypeDate5 = new DateTime(2021, 12, 03, 09, 40, 0);
    var exhibitionTypeDate6 = new DateTime(2021, 12, 03, 13, 30, 0);
    var exhibitonType = 1;
    if (exhibitionTypeDate1 <= DateTime.Now) {
        exhibitonType = (int)ExhibitionCategory.Exhibition1;
    }
    if (exhibitionTypeDate2 <= DateTime.Now)
    {
        exhibitonType = (int)ExhibitionCategory.Exhibition2;
    }
    if (exhibitionTypeDate3 <= DateTime.Now)
    {
        exhibitonType = (int)ExhibitionCategory.Exhibition3;
    }
    if (exhibitionTypeDate4 <= DateTime.Now)
    {
        exhibitonType = (int)ExhibitionCategory.Exhibition4;
    }
    if (exhibitionTypeDate5 <= DateTime.Now)
    {
        exhibitonType = (int)ExhibitionCategory.Exhibition5;
    }
    if (exhibitionTypeDate6 <= DateTime.Now)
    {
        exhibitonType = (int)ExhibitionCategory.Exhibition6;
    }
}
<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ADI Roadshow2021</title>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="@url/Content/analog/images/favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/analog/css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/analog/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/analog/css/prettyphoto.css">
    <link rel="stylesheet" href="~/Content/analog/css/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/Content/analog/js/vendors/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="~/Content/analog/js/vendors/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/analog/js/vendors/owl-carousel/owl.transitions.css">
    <link rel="stylesheet" href="~/Content/analog/js/vendors/slick/slick.css">
    <link rel="stylesheet" href="~/Content/analog/css/style.css">
    <!-- Revslider CSS -->
    <link rel='stylesheet' href="~/Content/analog/js/revolution/css/settings.css" type="text/css">
    <link rel='stylesheet' href="~/Content/analog/js/revolution/css/layers.css" type="text/css">
    <link rel='stylesheet' href="~/Content/analog/js/revolution/css/navigation.css" type="text/css">
    <link rel='stylesheet' href="~/Content/analog/js/revolution/css/settings2.css" type="text/css">
    <link rel='stylesheet' href="~/Content/analog/js/revolution/css/settings3.css" type="text/css">
    <!-- Video BG -->
    <link rel='stylesheet' href="~/Content/analog/css/ytplayer.css" type="text/css">
    <!-- Javascript -->
    <script src="~/Content/analog/js/jquery.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
        $(function () {
            $(".othertext").hide();
            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results == null) {
                    return null;
                }
                else {
                    return decodeURI(results[1]) || 0;
                }
            }
        })
    </script>

    <style>
        .signbtn a {
            float: right;
        }

        [rel='nofollow'] {
            cursor: pointer;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FKQC8P5M5J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-FKQC8P5M5J');
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    @RenderSection("head", required: false)
</head>

<body class="header-sticky" onbeforeunload="Exit()">
    <!-- ****************** MOBILE MENU ******************* -->
    <div class="snap-drawers">
        <div class="snap-drawer snap-drawer-left">
            <div class="mobile-menu">
                <ul id="mobile-menu" class="menu">
                    <li class="menu-item"> <a href="@Url.Action("Index","Home")">首頁</a> </li>
                    @*<li class="menu-item"> <a href="@Url.Action("Index","SignUp")">活動報名</a> </li>*@
                    <li class="menu-item"> <a href="@Url.Action("Video","ShowRoom", new { exhibitionType = exhibitonType })"> 線上活動</a> </li>
                    <li class="menu-item"> <a href="@Url.Action("VR","ShowRoom")">虛擬展間</a> </li>
                    @if (member != null)
                    {
                        <li class="menu-item" id="logout"> <a href="@Url.Action("Logout", "Login")">登出</a> </li>
                    }
                    else
                    {
                        <li class="menu-item"> <a href="@Url.Action("Index", "Login")">登入</a> </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- // END MOBILE MENU -->
    <div class="wrapper" id="wrapper">
        <!-- ****************** HEADER ******************* -->
        <header>
            <div class="container container-full">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-xs-10"> <a href="@Url.Action("Index","Home")"><img src="~/Content/analog/images/logo.svg" alt="" class="logo"></a> </div>
                    <div class="col-xs-12 hidden-md hidden-lg"> <i id="open-left" class="fa fa-navicon"></i> </div>
                    <div class="col-lg-10 col-md-12 hidden-xs hidden-sm">
                        <nav id="site-navigation" class="main-navigation hidden-xs hidden-sm">
                            <div>
                                <div class="primary-menu pull-right">
                                    <ul id="primary-menu" class="menu">
                                        <li class="menu-item"> <a href="@Url.Action("Index","Home")">首頁</a> </li>
                                        @*<li class="menu-item"> <a href="@Url.Action("Index","SignUp")">活動報名</a> </li>*@
                                        <li class="menu-item"> <a href="@Url.Action("Video","ShowRoom", new { exhibitionType = exhibitonType })"> 線上活動</a> </li>
                                        <li class="menu-item"> <a href="@Url.Action("VR","ShowRoom")">虛擬展間</a> </li>                            
                                        @if (member != null)
                                        {
                                            <li class="menu-item" id="logout"> <a href="@Url.Action("Logout", "Login")">登出</a> </li>
                                        }
                                        else
                                        {
                                            <li class="menu-item"> <a href="@Url.Action("Index", "Login")">登入</a> </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- // HEADER -->

        @RenderBody()
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-7 left">
                        <div class="row footerlogo">
                            <div class="col-md-3">
                                <p>主辦單位</p>
                                <a href="https://www.analog.com/en/landing-pages/001/taiwan-welcome.html" target="_blank"><img src="~/Content/analog/images/event-logo.png" class="img-responsive"></a>
                            </div>
                            <div class="col-md-9">
                                <p> 協辦單位</p>
                                <a href="http://www.anstek.com.tw/ "><img src="~/Content/analog/images/anstek-1.jpg" class="img-responsive"></a>
                                <a href="https://www.arrow.com/en   " target="_blank"><img src="~/Content/analog/images/arrow-1.png" class="img-responsive"></a>
                                <a href=" http://www.morrihan.com/ " target="_blank"><img src="~/Content/analog/images/morrihan-1.jpg" class="img-responsive"> </a>

                                <a href="https://www.mouser.tw/ " target="_blank"><img src="~/Content/analog/images/mouser-1.png" class="img-responsive"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 right">
                        <ul class="menu-social-small">
                            <li><a href="https://www.facebook.com/AnalogDevicesInc.Taiwan/" target="_blank"><i class="fa fa-facebook"></i></a></li>

                            <li><a href="https://www.linkedin.com/company/analog-devices-taiwan/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCe_wIb268F8fjFUPaRXJqhg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                        <p>©2021 Analog Devices,Inc.All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- // COPYRIGHT -->
        @if (ViewBag.Title == "首頁")
        {
            <a href="@Url.Action("VR","ShowRoom")">
                <div class="leftbtn">進入虛擬展間<span class="pe-7s-angle-right-circle"></span></div>
            </a>
        }
    </div>
    <a class="scrollup" title="Go to top"><i class="fa fa-angle-up"></i></a>


    <script src="~/Content/analog/js/bootstrap.min.js"></script>
    <script src="~/Content/analog/js/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/analog/js/vendors/easypie/jquery.easypiechart.min.js"></script>
    <script src="~/Content/analog/js/vendors/slick/slick.min.js"></script>
    <script src="~/Content/analog/js/vendors/jquery.counterup.min.js"></script>
    <script src="~/Content/analog/js/vendors/waypoints.min.js"></script>
    <script src="~/Content/analog/js/vendors/tweecool.min.js"></script>
    <script src="~/Content/analog/js/vendors/snap.min.js"></script>
    <script src="~/Content/analog/js/vendors/jquery.prettyPhoto.js"></script>
    <script src="~/Content/analog/js/main.js"></script>
    <script src="~/Content/analog/js/vendors/isotope/isotope.pkgd.js"></script>
    <script src="~/Content/analog/js/vendors/isotope/main.js"></script>
    <script src="~/Content/analog/js/vendors/sticky/jquery.sticky.js"></script>
    <script src="~/Content/analog/js/vendors/sticky/main.js"></script>
    <!-- Revolution Slider -->
    <script type='text/javascript' src='~/Content/analog/js/revolution/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='~/Content/analog/js/revolution/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript' src='~/Content/analog/js/revolution/js/jquery.themepunch.essential.min.js'></script>
    <script type='text/javascript' src='~/Content/analog/js/revolution/js/extensions/jquery.themepunch.essential.min.js'></script>
    <script type="text/javascript" src="~/Content/analog/js/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/analog/js/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/analog/js/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/analog/js/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/analog/js/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Content/analog/js/revolution/main.js"></script>
    <!-- Video BG -->
    <script src="~/Content/analog/js/vendors/ytplayer.min.js"></script>
    @if (TempData["Message"] != null)
    {
<script>
        var msg = '@TempData["Message"]';
        var result = '@TempData["Result"]';

        Swal.fire({
            position: 'top-center',
            icon: result,
            title: msg,
            showConfirmButton: false,
            timer: 2000
        })

        @{TempData["Result"] = null;}
        @{TempData["Message"] = null;}
        @{TempData["SignUp"] = null;}
</script>
    }
    <script>
        $(function () {
            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results == null) {
                    return null;
                }
                else {
                    return decodeURI(results[1]) || 0;
                }
            }
            var dealer = $.urlParam("dealer");
            if (dealer) {
                var firstWord = dealer.charAt(0);
                dealer = firstWord.toUpperCase() + dealer.substr(1);
                $.get('/Home/GetDealer?dealer=' + dealer, function (template) { });
            }
            var exhibitionType = $.urlParam("exhibitionType") != null ? $.urlParam("exhibitionType") : 0;
            var showRoomType = window.location.href.indexOf("Video") != -1 ? 2 : 1;
            $("#logout a").attr("href", "/Login/Logout?showRoomType=" + showRoomType + "&exhibitionType=" + exhibitionType)
            var pageTitle = '@ViewBag.Title';
            if (pageTitle == "首頁") {
                $(".copyright").addClass("homeco");
            }
        });
        
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
