﻿@using ADIRoadShow.Models;
@model ADIRoadShow.Areas.Admin.ViewModels.Survey.SurveyView
@{
    ViewBag.Title = "問卷管理";
    var title = Model.ID == 0 ? "新增活動表單" : "編輯活動表單";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>活動表單管理</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "SurveyAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @disable = true })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Company)
                    @Html.TextBoxFor(model => model.Company, new { @class = "form-control", @disable = true })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @disable = true })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone)
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Information)
                    @Html.TextBoxFor(model => model.Information, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Interest)
                    @Html.TextBoxFor(model => model.Interest, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Project)
                    @Html.TextBoxFor(model => model.Project, new { @class = "form-control" })
                </div>
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.IsKnowing, new { @class = "form-check-input" })
                    <label class="form-check-label" for="check-card-status">
                        @Html.DisplayNameFor(model => model.IsKnowing)
                    </label>
                </div>

            </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>