﻿@using ADIRoadShow.Models.Cmind;
@model ADIRoadShow.Areas.Admin.ViewModels.Survey.SurveyIndexView
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    問卷管理
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "SurveyAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(m => m.SurveyDownloadToken)
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "姓名" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Project, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.Project, Model.ProjectOptions, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Information, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.Information, Model.InformationOptions, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                <button type="button" id="js-excel" class="btn btn-success">匯出excel</button>
                                <button type="submit" style="display:none" name="method" value="excel"></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">問卷列表</h3>
                </div>
                <div class="card-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row table-responsive no-padding">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover table-striped dataTable dtr-inline">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Email)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Project)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Information)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Phone)
                                            </th>
                                            <th data-sorting="CreateTime">
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().CreateTime)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Email)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Project)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Information)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Phone)
                                            </th>
                                            <th data-sorting="CreateTime">
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().CreateTime)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                        <tr>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>
                                            <td>
                                                @item.Project
                                            </td>
                                            <td>
                                                @item.Information
                                            </td>
                                            <td>
                                                @item.Phone
                                            </td>
                                            <td>
                                                @item.CreateTime.ToString("yyyy/MM/dd HH:mm")
                                            </td>
                                            <td>
                                                @Html.ActionLink("查看", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
         const apiUrl = '@Url.Action("ValidateExcel")';

        var downloadTimer;

        function setFormToken() {
            var downloadToken = new Date().getTime();
            $('#SurveyDownloadToken').val(downloadToken);
            return downloadToken;
        }

        function onDownload() {
            window.clearInterval(downloadTimer);
            Cookies.remove('SurveyDownloadToken');
            alert('已完成匯出');
            location.reload(true);
        }

        $(function () {
            $('#js-excel').on('click', function () {

                const jobcategory = $('#JobCategory').val();
                const name = $('#Name').val();
                const email = $('#Email').val();
                const url = `${apiUrl}?JobCategory${jobcategory}=&Name=${name}&Email=${email}&Status=`;
                console.log(url);

                const data = {
                    Name: name,
                    JobCategory: jobcategory,
                    Email: email,
                    Status: '',
                };

                $.ajax({
                    type: 'POST',
                    url: apiUrl,
                    data: data,
                    dateType: 'json',
                    headers: {
                        'RequestVerificationToken': '@ADIRoadShow.Utility.Cmind.CommonRazorFunctions.GetAntiForgeryToken()'
                    },
                    success: function (res) {
                        console.log(res);
                        if (res.result) {

                                var downloadToken = setFormToken();
                                downloadTimer = window.setInterval(function () {
                                    var token = Cookies.get('SurveyDownloadToken');
                                    if (token == downloadToken) {
                                        onDownload();
                                    }
                                }, 1000);

                                $('button[name=method][value=excel]').click();
                        }
                        else {
                            alert(res.errorMsg);
                        }
                    }
                });
            });
        });
    </script>
}